{% extends 'homeBase.html' %}


{% block content %}

 

    <div class="main">

      <div  class="cont">
        <div class="box">
         <div class="text">

        <h1>Hello , Doctor </h1>
        <p>Sign in or log in here </p>
    
        </div>

        <div class="btn_container">

            <div class="btn">
            <a href="{% url 'doctorSignIn' %}" class="btn signIn"  >Sign in</a>
            </div>

            <div class="btn">
            <a href="/doctorlogin" class="btn logIn"  >Log in</a>
            </div>

        </div>

      </div>
     </div>

    </div>





{% endblock content %}