
<!DOCTYPE html>
<html>
<head>
    <title>Doctor Dashboard</title>


    <style>

        form{

            background-color: antiquewhite;
            height: 30vh;
            display: flex;
            flex-direction: column;
            justify-content: space-around;
        }

        button{

            width: 7vw;
        }

        li{
            margin-top: 1%;
        }



    </style>
  
</head>
<body>
    <h1>Doctor Availibility</h1>

    <h2>Add Available Time Slot</h2>

    <form method="post">
        {% csrf_token %}


        <div class="form-group">
            <label for="id_day">Day</label>
            {{ form.day }}
        </div>

        <div class="form-group">
            <label for="id_time_slots">Time Slots</label>
            {{ form.time_slots }}
        </div>


        <button type="submit">Add Time Slot</button>

    </form>

    <h2>Your Time Slots</h2>
    <ul>
        {% for slot in time_slots %}
            <li>
                {{ slot.date }}: {{ slot.start_time }} - {{ slot.end_time }}
                <form action="{% url 'delete_time_slot' slot.id %}" method="post" style="display:inline;">
                    {% csrf_token %}
                    <button type="submit">Delete</button>
                </form>
            </li>
        {% endfor %} 
    </ul>

</body>
</html>
