{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>register</title>
</head>
<body>

    <section>

        <div>



            {% csrf_token %}

            <h1>REGISTER</h1>
            <br/>



            {%  if messages  %}

                <div class="#">

                    {%  for key in messages  %}

                        {{key}}

                    {% endfor  %}


                </div>

            {%  endif  %}





            <div>

                <label for="firstName" >First name</label>
                <input type="text" name="first_name" placeholder="Enter First name" class="#" id="firstName" required >

            </div>

            <div>

                <label for="lastName" >Last name</label>
                <input type="text" name="last_name" placeholder="Enter Last name" class="#" id="lastName" required >

            </div>

            <div>

                <label for="userInput" >Username</label>
                <input type="text" name="username" placeholder="Enter Username" class="#" id="userInput" required >

            </div>

            <div>

                <label for="passInput" >Password</label>
                <input type="password" name="password" placeholder="Enter password" class="#" id="passInput" required >

            </div>

            <div>

                <p>Already have and account ? <a href="/login/" >Login</a> </p>

            </div>


            <div>


                <button type="submit" class="#" >submit</button>


            </div>



        </div>

    </section>

</body>
</html>