
{% extends "base.html" %}
{% load static %}
{% block title %}home{% endblock%} 

{% block home %}

    {% include 'auth/navbar.html' %}

    {% if user.is_authenticated %}

    <!-- Authenticated User View -->
    <section class="relative">
        <div
          class="h-[88.5vh] bg-no-repeat bg-fixed bg-[length:40%_80%] bg-[position:90%_90%]"
          style="background-image: url('/static/homeBg.png')"
        >
          <div class="h-[80vh] flex flex-col justify-center items-center relative">
            <div class="absolute top-[10%] left-[10%] flex flex-col justify-center items-start h-1/2">
              <h1 class="text-[4vw] mb-[1.5%] font-bold">
                <span class="text-[#248d40]">Welcome</span> Mr. {{ user.username }}
              </h1>
  
              {% if user.role == 'doctor' and not user.doctor.is_approved %}
                <p class="text-[2vw] font-semibold text-red-600">
                  Your account is pending approval by an administrator
                </p>
              {% else %}
                <p class="text-[2vw] font-semibold">You are logged in !</p>
              {% endif %}
            </div>
          </div>
        </div>
      </section>
  
      {% else %}
  
      <!-- Guest User View -->
      <section class="relative">
        <div
          class="h-[88.5vh] bg-no-repeat bg-fixed bg-[length:40%_80%] bg-[position:90%_90%]"
          style="background-image: url('/static/homeBg.png')"
        >
          <div class="h-[80vh] flex flex-col justify-center items-center relative">
            <div class="absolute top-[10%] left-[10%] flex flex-col justify-center items-start h-1/2">
              <h1 class="text-[4vw] mb-[1.5%] font-bold">
                <span class="text-[#248d40]">Hospital</span> Management System
              </h1>
              <p class="text-[2vw] font-semibold">Your Health, Our Priority</p>
              <p class="text-[2vw] font-semibold">Durgapur</p>
  
              <div
                class="w-[12%] h-[12%] rounded-[9%] border border-[#248d40] bg-[#419b5b] mt-[3%] flex justify-center items-center hover:opacity-90 transition duration-200"
              >
                <a
                  href="{% url 'button1' %}"
                  class="text-white font-semibold text-lg w-full h-full flex justify-center items-center"
                >
                  Login
                </a>
              </div>
            </div>
          </div>
        </div>
      </section>
  
    {% endif %}


{% endblock %}

